.form-div{
    width: 30%;
    margin: auto;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0.5);
    z-index: 1;
    background: linear-gradient(red, blue);
}

.form-div h1{
    color: #fff;
}

.form-group{
    padding: 20px 0;
}

form{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #fff;
    padding: 10px;
    position: relative;
    left: 5%;
}

form input{
    outline: none;
    padding: 0 10px;
    height: 40px;
    font-size: 18px;
}