* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #757575;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Form  */
.form-div {
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0.5);
    z-index: 1;
    background: linear-gradient(red, blue);
    position: fixed;
    width: 60%;
    top: 100px;
    left: 20%;
}

.form-div p {
    color: #fff;
    font-size:18px;
    font-weight: bold;
}

.form-group {
    padding: 10px 0;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #fff;
    padding: 10px;
    position: relative;
    left: 5%;
}

form input {
    outline: none;
    padding: 0 10px;
    height: 35px;
    font-size: 17px;
}

/* Navbar */
nav {
    width: 100%;
    background: linear-gradient(to right, blue, red);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    gap: 20px;
}

nav ul {
    list-style: none;
}

.left-nav{
    max-width: 70px;
    margin-left: 50px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-nav img {
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0,0,0.5);
    width: 100%;
}

.right-nav{
    padding: 20px 50px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav .input-field {
    max-width: 200px;
}

.right-nav button,
input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    padding: 0 10px;
}

.right-nav input {
    outline: none;
}

.right-nav li button {
    cursor: pointer;
    font-weight: bold;
}

#add-field {
    margin: 0 20px;
}

/* Grid box */
.grid-box {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 30px;
}

.grid-card {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0.5);
    height: calc(100% + 20px)
}

.grid-card p,
h3,
h4 {
    overflow: hidden;
    white-space: wrap;
}

.grid-card .operation-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.operation-icons #edit-icon {
    color: blue;
}

.operation-icons #delete-icon {
    color: red;
}

#spinner {
    height: 50px;
    width: 50px;
    margin: auto;
}

